#menu {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
}

.menu__create-message {
  flex: 0 1 auto;
  padding: 20px 20px;
}

.menu__categories {
  display: flex;
  flex-direction: column;
}

.menu__labels {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.menu__labels__title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.menu__labels__title > div {
  display: flex;
  flex: 0 0 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.label-list {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  padding: 10px 10px;
  color: rgb(128, 128, 128);
}

.label .circle {
  margin-right: 20px;
}

.label__title {
  font-size: 0.8rem;
  font-weight: 600;
}

.menu__header {
  align-items: center;
  justify-content: space-between;
}

.menu__header p {
  font-size: 1.2rem;
}

.menu__header div {
  color: rgb(135, 41, 223);
  position: relative;
  font-size: 1rem;
}

.menu__header div:before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  transform: translate(30%, -25%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(255, 0, 0);
}
