.email {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  padding: 0px 15px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.email:last-child {
  border-bottom: none;
}

.email--selected {
  box-shadow: inset 3px 0px rgb(135, 41, 223) !important;
  background-color: rgb(255, 255, 255);
}

.email:hover {
  background-color: rgb(255, 255, 255);
}

.email__left-bar {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.email__left-bar button {
  background-color: inherit;
  border: none;
  color: rgb(211, 211, 211);
}

.email__left-bar button:hover {
  cursor: pointer;
  color: rgb(255, 165, 0);
}

.email__main-content {
  display: flex;
  flex: 0 1 75%;
  flex-direction: column;
  padding: 10px 15px;
}

.email__meta {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(128, 128, 128);
}

.email__meta div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.email__sender {
  margin-right: 5px;
  font-size: 0.8rem;
}

.email__label {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
}

.email__additional-info {
  font-size: 0.8rem;
  display: flex;
  padding: 10px 0px;
  color: rgb(128, 128, 128);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.email__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0px;
}

.email__title {
  margin-bottom: 5px;
  font-size: 1rem;
}

.email__preface {
  color: rgb(211, 211, 211);
  font-size: 0.8rem;
}

.email__attachment {
  display: flex;
  flex-direction: row;
  color: rgb(135, 41, 223);
}

.email__attachment i {
  font-size: 0.9rem;
  margin-left: 5px;
}

.email__attachment__count {
  font-size: 0.9rem;
  font-weight: 600;
}
