.searchbar {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  align-items: center;
  padding: 20px 15px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.searchbar__input {
  display: flex;
  flex: 1 0 auto;
  background-color: inherit;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(135, 41, 223);
}

.searchbar i {
  font-size: 1rem;
  color: rgb(135, 41, 223);
}
