.email-list {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

.email-list__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.email-list__header__left-item {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  font-style: normal;
  font-size: 0.8rem;
  color: gray;
}

.email-list__header__left-item span {
  color: black;
  font-weight: 600;
  margin-left: 5px;
}

.email-list__header__left-item i {
  margin-top: -5px;
  margin-left: 5px;
}

.email-list__header__right-item {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  font-size: 1rem;
  color: gray;
}

.email-list__header__right-item i {
  margin-left: 20px;
}

.email-list__emails {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  overflow-y: scroll;
}

.email-list__emails::-webkit-scrollbar {
  display: none;
}

.email-list__add {
  justify-content: center;
}

.email-list__add div {
  color: white;
  padding: 10px;
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
