* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 50px;
  font-size: 1.5rem;
  font-style: italic;
  padding: 0px 15px;
  border-bottom: 1px solid lightgray;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 60px;
  padding: 15px 45px;
  border-top: 1px solid lightgray;
}

.main-icon {
  color: blueviolet;
}

a {
  text-decoration: none;
  color: blueviolet;
  border-bottom: 2px solid lightgray;
}

a:hover {
  cursor: pointer;
  opacity: 0.9;
}
